<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Clients Lists</h1>
{% if user.is_authenticated %}
   Hello {{ user.username }}
    <a href="{% url 'logout' %}">Logout</a>
{% else %}
    <a href="{% url 'login' %}">Login</a>
{% endif %}


<ul>
    {% for client in clients %}
        <li>
            <p>{{ client }}</p>
            <a href="{% url 'client_update' client.id %}">Edit</a>
            <a href="{% url 'client_delete' client.id %}">Delete</a>
        </li>
    {% endfor %}
</ul>
<a href="{% url 'client_create' %}">New Client</a>
</body>
</html>